<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="本页版权归中国平安所有. all rights reserved" name="copyright">
	<meta name="keywords" content="房产交易所">
	<meta name="description" content="房产交易所">
    <title><@= data.title @></title>
    <link rel="stylesheet" href="<@= ctx @>css/faj.css?v=<@= _build.ts @>">
	<link rel="stylesheet" href="libs/jquery-ui/jquery-ui.min.css"/>
	<script type="text/javascript">
		var _WEB = {
			ctx : "<@= ctx @>",
			version:"<@= _build.version @>",
			ts:"<@= _build.ts @>",
			env:"<@= _build.env@>"
		}
	</script>
</head>
